<html>
    <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <title>Django Girls blog</title>
    </head>
    <body>
      <div>
      
  </div>

  <div class="post">
         {% if posts.fecha_publicacion %}
             <div class="date">
                 {{ posts.fecha_publicacion }}
             </div>
         {% endif %}
         <h1>{{ posts.titulo }}</h1>
         <p>{{ posts.texto|linebreaksbr }}</p>
     </div>
    </body>
</html>
